h1{color:#0000ff; font-size:30px; text-shadow: 0 0 10px black}
h2{font-size:35px;}
img:hover {
  opacity:0
  background-image: url(https://www.w3schools.com/w3images/fjords.jpg);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
